<b>
Get ile güncellenen bilgiler alınıp Post ile ekrana geri getirilecek.
</b>
<hr />

   <ul>
       
    <li>
        Edit FirstName: @Html.TextBox("FirstName")
    </li>
    <hr />
    <li>
        Edit LastName:@Html.TextBox("FirstName")
    </li>
    <hr />
    <li>
        Edit Adress:@Html.TextBox("FirstName")
    </li>
    <hr />
    <li>
        Edit HomePhone:@Html.TextBox("FirstName")
    </li>
   </ul> 
 
